.SignUp {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--main-background-color);
    height: 100vh;
}
.containerCard {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cardSignup {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 476px;
    height: 78.89%;
    gap: 0px;
    border-radius: 20px;
    background-color: white;
}
.logoSignUp {
    margin-bottom: 42px;
}
.SignUpTitle {
    margin-bottom: 8px;
}
.parSignUp {
    margin-bottom: 24px;
}
